body{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;

		background: #34495e;
}
.welcometext{
	color: white;
}
.header1{
	width: 100%;
	height: 120px;
	color: white;
	margin-bottom: 50px;
}
.admin_logo{
	background: #7f8c8d;
	border-radius: 50%;
	 height: 75px;
	 width: 75px;
}
.admin_logo:hover{
	height: 100px;
	width: 100px;
}

.sidebar{
	background: #2c3e50;
	color: white;
	height: auto;
}
.sidebar ul li{
	padding: 20px;
	border-bottom:2px solid #7f8c8d;
	
}
.sidebar ul li:hover{
	background: #7f8c8d;
}
.main-field{
	background: #2c3e50;
	height: 300px;
	color: white;
	height: auto;

}



/*Add Notice section */
.add-notice-text{
	color: white;
} 
.publishbtn{
	margin-top: 30px;
	padding-left: 50px;
}


/* User Interface */
.tabledec{
	color: white;
}
.tabledec td: hover{
	background: #7f8c8d;
	color: white;
}


/*Teacher Interface section */
.teacher_icon{
	background: #7f8c8d;
	border-radius: 50%;
	 height: 75px;
	 width: 75px;
}
.teacher_icon:hover{
	height: 100px;
	width: 100px;
}


/*Student Interface section */
.student_icon{
	background: #7f8c8d;
	border-radius: 50%;
	 height: 75px;
	 width: 75px;
}
.student_icon:hover{
	height: 100px;
	width: 100px;
}

/*Admin Interface*/
.customnav{
	height: 40px;
	background: black;
}
.customnav ul li a{
	padding-top: 3.25px;
	font-size: 12px;
	color: white;
}
.customnav ul li:hover{
	background: #7f8c8d;
}

/* Footer Section */
.site-footer
{
  background-color:#2c3e50;
  margin-top: 50px;
  padding:20px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
}
